<div class="controls">
  <div class="create">
    <input class="create-input" type="text">
    <input class="color-create color margin" type="color" value="#24ffff">
    <button class="create-btn">CREATE</button>
  </div>
  <div class="update margin">
    <input class="update-input" type="text">
    <input class="color-update color margin" type="color" value="#b840b4">
    <button class="update-btn">UPDATE</button>
  </div>
  <div class="options">
    <button class="race-btn">RACE</button>
    <button class="reset-btn margin">RESET</button>
    <button class="generate-btn">GENERATE CARS</button>
  </div>
</div>
<div class="garage">
  <div class="title">
    <h1 class="white">GARAGE(104)</h1>
    <h2 class="white">Page #1</h2>
  </div>
</div>