<div class="controls">
  <div class="create">
    <input class="create-input" type="text">
    <input class="color-create color margin" type="color" value="#24ffff">
    <button class="create-btn blue">CREATE</button>
  </div>
  <div class="update margin not-clickable">
    <input class="update-input" type="text">
    <input class="color-update color margin" type="color" value="#b840b4">
    <button class="update-btn blue">UPDATE</button>
  </div>
  <div class="options">
    <button class="race-btn green">RACE</button>
    <button class="reset-btn margin green not-clickable">RESET</button>
    <button class="generate-btn blue">GENERATE CARS</button>
  </div>
</div>
<div class="title">
  <h1 class="white">GARAGE (<span class="cars-count">104</span>) </h1>
  <h2 class="white">Page #<span class="page-number">1</span></h2>
  <div class="winner-info disabled">WINNER</div>
</div>
<div class="garage">
</div>
<div class="paginator">
  <button class="prev-btn green">PREV</button>
  <button class="next-btn green">NEXT</button>
</div>