h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

input {
  cursor: pointer;
}

.white {
  color:white;
}

.flex {
  display: flex;
}

.margin {
  margin: 0 5px;
}

.controls {
  display: flex;
  flex-direction: column;
}

.color {
  width: 35px;
  height: 22px;
  margin: 0 5px;
}

.update {
  margin: 10px 0;
}

.garage {
  margin: 100px 0;
}

.blue {
  background: #abcae5;
}
