<div class="tree-container">
  <div class="settings">
    <div class="sound-visual-effects">
      <button class="play-audio"></button>
      <audio src="/src/assets/audio/audio.mp3"></audio>
      <button class="snow"></button>
    </div>
    <div class="tree-options">
      <h2 class="text-center">ВЫБЕРИТЕ ЁЛКУ</h2>
      <div class="options">
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
      </div>
    </div>
    <div class="backround-option">
      <h2 class="text-center">ВЫБЕРИТЕ ФОН</h2>
      <div class="options">
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
      </div>
    </div>
    <div class="lights-options">
      <h2 class="text-center">ГИРЛЯНДА</h2>
      <div class="options lights">
        <button class="lights-btn color-lights"></button>
        <button class="lights-btn red-lights" style="background-color: red"></button>
        <button class="lights-btn blue-lights" style="background-color: blue"></button>
        <button class="lights-btn yellow-lights" style="background-color: yellow"></button>
        <button class="lights-btn green-lights" style="background-color: green"></button>
        <button class="lights-btn no-lights" style="background-color: grey"></button>
      </div>
    </div>
  </div>
  <div class="tree-box-container falling-snow">
    <div class="tree-box">

      <div class="tree-img">
        <img class="tree-box-img"
          src="https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/tree/1.png"
          alt="tree number 1">
        <div class="tree-lights">
          <div class="lightrope lr1">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="lightrope lr2">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="lightrope lr3">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="lightrope lr4">
            <ul>
              <li id="inline-flex"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="lightrope lr5">
            <ul>
              <li id="inline-flex"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      <i></i>
    </div>
  </div>
  <div class="my-toys">
    <h2 class="text-center">МОИ ИГРУШКИ</h2>
    <div class="toys-cart options">
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
      <div class="toy-item back-img">
        <div class="amount-of-item">2</div>
      </div>
    </div>
  </div>
</div>