<div class="tree-container">
  <div class="settings">
    <div class="sound-visual-effect">
      <button class="play"></button>
      <button class="snow"></button>
    </div>
    <div class="tree-options">
      <h2>ВЫБЕРИТЕ ЁЛКУ</h2>
      <button class="tree-1"></button>
    </div>
    <div class="backround-option">
      <h2>ВЫБЕРИТЕ ФОН</h2>
      <button class="background-1"></button>
    </div>
    <div class="lights-options">
      <h2>ГИРЛЯНДА</h2>
      <button class="lights-btn color-lights"></button>
      <button class="lights-btn red-lights" style="background-color: red"></button>
      <button class="lights-btn blue-lights" style="background-color: blue"></button>
      <button class="lights-btn yellow-lights" style="background-color: yellow"></button>
      <button class="lights-btn green-lights" style="background-color: green"></button>
    </div>
  </div>
</div>
</div>