<div class="tree-container">
  <div class="settings">
    <div class="sound-visual-effects">
      <button class="play"></button>
      <button class="snow"></button>
    </div>
    <div class="tree-options">
      <h2 class="text-center">ВЫБЕРИТЕ ЁЛКУ</h2>
      <div class="options">
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
        <button class="tree"></button>
      </div>
    </div>
    <div class="backround-option">
      <h2 class="text-center">ВЫБЕРИТЕ ФОН</h2>
      <div class="options">
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
        <button class="background back-img"></button>
      </div>
    </div>
    <div class="lights-options">
      <h2 class="text-center">ГИРЛЯНДА</h2>
      <div class="options lights">
        <button class="lights-btn color-lights"></button>
        <button class="lights-btn red-lights" style="background-color: red"></button>
        <button class="lights-btn blue-lights" style="background-color: blue"></button>
        <button class="lights-btn yellow-lights" style="background-color: yellow"></button>
        <button class="lights-btn green-lights" style="background-color: green"></button>
        <button class="lights-btn no-lights" style="background-color: grey"></button>
      </div>
    </div>
  </div>
  <div class="tree-box">
  </div>
  <div class="toys-cart options">
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
    <div class="toy-item back-img">
      <div class="amount-of-item">2</div>
    </div>
  </div>
</div>