.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.play-audio {
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/svg/audio.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.play {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg) brightness(83%) contrast(88%);
}

.pause {
  filter: none;
}

.settings {
  margin: 15px;
}

.sound-visual-effects {
  display: flex;
  justify-content: space-around;
}

.snow {
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/svg/snow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.options {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;
}

.tree {
  width: 100px;
  height: 100px;
  background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/tree/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  background-position: center;
  margin: 10px;
}

.background {
  background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/bg/1.jpg");
  width: 65px;
  height: 65px;
  margin: 2px;
}

.back-img {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lights-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}

.color-lights {
  background: linear-gradient(
  124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
}

.no-lights {
  box-shadow: none;
}

.lights {
  justify-content: space-evenly;
}

.tree-box {
  min-height: 750px;
  width: 800px;
  background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/bg/1.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-box img {
  height: 80%;
}

.toy-item {
  background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/toys/1.png");
  width: 60px;
  height: 60px;
}

.toys-cart {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.amount-of-item {
  width: 20px;
  height: 20px;
  color: white;
  background: var(--turkus);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.tree-box {
  height: calc(100vh - 140px);
}