h1, tr, td {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

tr {
  font-weight: bold;
}

td {
  padding: 10px;
  text-align: center;
}

.winner-svg {
  width: 60px;
  height: 30px;
}

table {
  margin-bottom: 50px;
}

.pointer {
  cursor: pointer;
}
