<div class="card-container">
  <h2 class="card-title">Сосулька красная</h2>
  <div class="card-info">
    <img class="card-img"
      src="https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/toys/4.png"
      alt="Christmas toy">
    <div class="card-attributes">
      <p class="amount">Quantity: 2</p>
      <p class="year">Year of purchase: 1980</p>
      <p class="shape">Shape: ball</p>
      <p class="color">Color: red</p>
      <p class="size">Size: big</p>
      <p class="is-favorite">Favorite: yes</p>
    </div>
    <div class="like">
      <button id="" class="like-btn">
        <img src="./star-gold.svg" alt="gold star">
      </button>
    </div>
  </div>
</div>