<div class="card-container">
  <h2 class="card-title">Сосулька красная</h2>
  <div class="card-info">
    <img class="card-img"
      src="https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/christmas-task/assets/toys/4.png"
      alt="Christmas toy">
    <div class="card-attributes">
      <p>Количество: 2</p>
      <p>Год покупки: 1980</p>
      <p>Форма: фигурка</p>
      <p>Цвет: красный</p>
      <p>Размер: большой</p>
      <p>Любимая: да</p>
    </div>
    <div class="like">
      <!-- <img src="./assets/svg/star-gold.svg" alt="" style="filter: brightness(0.3)"> -->
    </div>
  </div>
</div>