.card-img {
  width: 90px;
  height: 90px;
}

.card-container {
  color: white;
  font-size: var(--text-size);
  font-family: var(--monospace);
  flex-direction: column;
  max-width: 20%;
  border-radius: 10px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  align-items: center;
  display: block;
  min-width: 270px;
}

.card-container:hover .like-btn{
  filter: brightness(1);
}

.card-info {
  display: flex;
  padding: 0 10px;
  flex-wrap: wrap;
}

p {
  margin: 0;
  line-height: 30px;
}

.cards {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.like {
  position: absolute;
  bottom: 0;
}

.like img {
  width: 30px;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
  filter: brightness(0.3);
}

.card-title {
  font-size: 18px;
  text-align: center;
}

.favorite {
  filter: brightness(1);
}