<h1>SETTINGS</h1>
<div>
  <div class="settings-main-container">
    <div class="volume">
      <div class="sound-icon">
        <img src="./img/volume-on.svg" alt="sound-on">
      </div>
      <div class="sound-bar">
        <img src="./img/volume-off.svg" alt="volume-bar">
        <input type="range" min="0" max="100" value="50" class="volume-range">
      </div>
      <h2>VOLUME</h2>
    </div>
    <div class="timer">
      <div class="timer-icon">
        <img src="./img/timer-picture.svg" alt="">
      </div>
      <div class="timer-checkbox">
        <input type="checkbox" id="scales" name="scales" checked>
        <label for="scales">ON/OFF</label>
        <h2>TIME GAME</h2>
      </div>
    </div>
  </div>
  <div class="save-options">
    <button class="save-btn">
      <img src="./img/save-button.jpg" alt="save">
    </button>
    <button class="defualt-btn">
      <img src="./img/defaults-button.jpg" alt="default">
    </button>
  </div>
</div>