<h1>SETTINGS</h1>
<div class="settings-main-container">
  <div class="volume">
    <div class="sound-icon">
      <img src="./img/volume-on.svg" alt="sound-on">
    </div>
    <div class="sound-bar">
      <audio src="./mp3/Kevin_MacLeod_-_Canon_in_D_Major.mp3" controls></audio>
      <img src="./img/volume-off.svg" alt="volume-bar">
      <input type="range" min="0" max="100" value="50" class="volume-range">
    </div>
    <h2>VOLUME</h2>
  </div>
  <div class="timer">
    <div class="timer-icon">
      <img src="./img/timer-picture.svg" alt="">
    </div>
    <div class="timer-checkbox">
      <input type="checkbox" id="scales" name="scales" checked>
      <label for="scales">ON/OFF</label>
    </div>
  </div>
</div>