<h1>SETTINGS</h1>
<div>
  <div class="settings-main-container">
    <div class="volume controls-container">
      <div class="sound-icon icon">
        <img src="./img/volume-on.svg" alt="sound-on">
      </div>
      <div class="sound-bar active-item">
        <img src="./img/volume-off.svg" alt="volume-bar">
        <input type="range" min="0" max="100" value="50" class="volume-range"><label for="check"></label>
      </div>
      <div class="sound-checkbox active-item">
        <input type="checkbox" id="scales" name="scales" checked>
        <label for="scales">ON / OFF</label>
      </div>
      <h2>VOLUME</h2>
    </div>
    <div class="timer controls-container">
      <div class="timer-icon icon">
        <img src="./img/timer-picture.svg" alt="timer">
      </div>
      <div class="timer-control active-item">
        <input class="timer-input" type="range" min="5" max="30" value="10" step="5">
        <div class="timer-control-text">10</div>
      </div>
      <div class="timer-checkbox active-item">
        <input class="timer-checked" type="checkbox" id="scales2" name="scales2" checked>
        <label for="scales2">ON / OFF</label>
      </div>
      <h2>TIME GAME</h2>
    </div>
  </div>
  <div class="save-options btn-container">
    <button class="save-btn">SAVE</button>
  </div>
</div>