.controls-container {
  display: flex;
  flex-direction: column;
  border: #d6cbcb solid;
  border-radius: 8%;
  padding: 7%;
  text-align: center;
  height: auto;
  width: 230px;
  row-gap: 10px;
}

.controls-container h2 {
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  .controls-container {
    margin: 10px;
    padding: 10px;
  }
}

.sound-bar,
.timer-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-control {
  height: 31px;
}

.volume,
.timer {
  margin: 10px;
}

.controls-container input {
  appearance: unset;
  border: solid 2px lightgrey;
  height: 1px;
}

.icon {
  height: 100px;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance : none;
  background : var(--text-color);
  border-radius: 50%;
  width: 100px;
  height: 15px;
  width: 15px;
  cursor: e-resize;
}

.btn-container {
  padding: 5%;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content:"☐";
}

input:checked + label:before {
  content:"☑";
}

label {
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
}

.timer-input.disabled,
.volume-input.disabled {
  opacity: 0.5;
}
