.controls-container {
  display: flex;
  flex-direction: column;
  border: #d6cbcb solid;
  border-radius: 8%;
  padding: 7%;
  text-align: center;
  height: auto;
}

.sound-bar {
  display: flex;
  align-items: center;
}

.controls-container input {
  appearance: unset;
  border: solid 2px lightgrey;
  height: 1px;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance : none;
  background : var(--text-color);
  border-radius: 50%;
  width: 100px;
  height: 15px;
  width: 15px;
}

.btn-container {
  padding: 5%;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content:"☐";
}

input:checked + label:before {
  content:"☑";
}

label {
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
}
