:root {
  --green-color: #121C1E;
  --light-green: rgba(31, 112, 127, .3);
  --turkus: #278D9F;
  --text-size: 1rem;
  --monospace: monospace;
}

body {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.input-container {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--green-color);
  top: 0;
  width: 100%;
}

.nav-bar a {
  font-size: var(--text-size);
  color: white;
  font-family: monospace;
  text-decoration: none;
  padding: 0 20px;
  transition: .3s;
  cursor: pointer;
}

.nav-bar a:hover {
  color: var(--turkus);
}

.logo-img:hover {
  filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
}

.logo-img,
.counter-ball {
  width: 48px;
  height: 60px;
  padding: 20px;
}

.logo-img img,
.counter-ball img {
  width: 100%;
}

.link-toys-page {
  margin: 0 30px;
}

.header-search {
  display: flex;
  align-items: inherit;
  column-gap: 20px;
}

.input-container {
  border-radius: 20px;
  height: 40px;
  border: 1px solid var(--turkus);
  background-color: var(--light-green);
}

.input-container.search-bar {
  background-image: url("./assets/svg/search.svg");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: right 10px center;
}

.input-container input {
  background: none;
  border: none;
  outline: none;
  padding: 0 10px;
  color: white;
  font-size: var(--text-size);
}

.counter-ball {
  color: white;
  background: var(--green-color);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  margin-right: 20px;
  font-size: 1.5rem;
}

.footer {
  background: var(--green-color);
}

.rsschool {
  display: flex;
  position: absolute;
  bottom: 0;
  font-size: var(--text-size);
  color: white;
  font-family: monospace;
  text-decoration: none;
  padding: 0 20px;
  transition: .3s;
  width: 100%;
  padding: 0;
  background: var(--green-color);
  justify-content: center;
}

.rsschool ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.rsschool a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.filters {
  border-radius: 10px;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  flex-grow: 1;
  max-width: 400px;
  color: white;
  font-family: var(--monospace);
}

.filters-panel {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  gap: 10px;
  padding: 2%;
}

.sort-items {
  display: flex;
  flex-direction: column;
}
