<section class="filters-panel">
  <div class="value-filters filters">
    <h1 class="filter-item">FILTERS BY VALUE</h1>
    <div class="forms-filter filter-item">
      <h4>Shape:</h4>
      <button class="forms-btn ball" data-shape="ball">
        <img src="/src/assets/svg/ball.svg" alt="ball">
      </button>
      <button class="forms-btn bell" data-shape="bell">
        <img src="/src/assets/svg/bell.svg" alt="bell">
      </button>
      <button class="forms-btn cone" data-shape="pinecone">
        <img src="/src/assets/svg/cone.svg" alt="pinecone">
      </button>
      <button class="forms-btn snowflake" data-shape="snowflake">
        <img src="/src/assets/svg/snowflake.svg" alt="snowflake">
      </button>
      <button class="forms-btn toy" data-shape="toy">
        <img src="/src/assets/svg/toy.svg" alt="toy">
      </button>
    </div>
    <div class="color-filter filter-item">
      <h4>Color:</h4>
      <button class="color-btn" data-color="белый" style="background: white"></button>
      <button class="color-btn" data-color="желтый" style="background: yellow"></button>
      <button class="color-btn" data-color="красный" style="background: red"></button>
      <button class="color-btn" data-color="синий" style="background: #2196f3"></button>
      <button class="color-btn" data-color="зелёный" style="background: #45af4a"></button>
    </div>
    <div class="size-filter filter-item">
      <h4>Size:</h4>
      <button class="size-btn big-size" data-size="big">
        <img src="/src/assets/svg/ball.svg" alt="big size">
      </button>
      <button class="size-btn medium-size" data-size="meduim">
        <img src="/src/assets/svg/ball.svg" alt="meduim size">
      </button>
      <button class="size-btn small-size" data-size="small">
        <img src="/src/assets/svg/ball.svg" alt="small size">
      </button>
    </div>
    <div class="favorite-items-filter filter-item">
      <h4>Favorites only:</h4>
      <input id="checkbox" class="checkbox-input" type="checkbox" unchecked>
      <label class="checkbox-label" for="checkbox"></label>
    </div>
  </div>
  <div class="range-filters filters">
    <h1 class="filter-item">FILTERS BY RANGE</h1>
    <div class="range-bars-wrapper">
      <div class="amount-filter">
        <h2 class="filter-item">Number of copies</h2>
        <div class="input-range">
          <span class="borders filter-item-amount-min">1</span>
          <span class="amount-bar flex center"></span>
          <span class="borders filter-item-amount-max">12</span>
        </div>
      </div>
      <div class="year-filter">
        <h2 class="filter-item">Year of purchase</h2>
        <div class="input-range">
          <span class="borders filter-item-min">1940</span>
          <span class="year-bar flex center"></span>
          <span class="borders filter-item-max">2020</span>
        </div>
      </div>
    </div>
  </div>
  <div class="sort-items filters">
    <h1 class="filter-item">SORTING</h1>
    <div class="select-controls">
      <select name="sorting" id="sorting">
        <option value="default">No sorting</option>
        <option value="sortByNameAsc">By name from "A" to "Z"</option>
        <option value="sortByNameDesc">By name from "Z" to "A"</option>
        <option value="sortByYearAsc">By year ascending</option>
        <option value="sortByYearDesc">By year descending</option>
      </select>
      <button class="reset-filters">Reset filters</button>
    </div>
  </div>
</section>
<section class="cards flex">
</section>
<span class="message-no-matches borders">
  Sorry, no matches found
</span>
<div class="overlay">
  <div class="modal-window-container">
    Sorry, all slots are full
    <button class="ok-btn">OK</button>
  </div>
</div>