svg {
  width: 75px;
  height: 55px;
  margin-bottom: -10px;
}


.car {
  overflow: hidden;
  border-bottom: dashed 3px white;
}

.car-movement {
  display: flex;
  margin-right: 60px;
}

.stop-car {
  transform: translateX(100%);
  transition: linear;
  transition-duration: 3s;
  transition-property: transform;
}

.car-options {
  margin-top: 15px;
}

.flag {
  transform: translateX(-40px);
}

.flag img {
  width: 30px;
  height: 30px;
}

.car-wrapper {
  width: 100%;
  flex-grow: 1;
}

.car-icon {
  margin-bottom: -10px;
}

.not-clickable {
  opacity: 0.5;
  pointer-events: none;
}

.car-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


