svg {
  width: 75px;
  height: 55px;
  margin-bottom: -10px;
}

.animate {
  animation-name: drive;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.car-movement {
  display: flex;
  border-bottom: dashed 3px white;
}

@keyframes drive {
  from {
      transform: translateX(0px);
  }
  to {
      transform: translateX(1000px);
  }
}

.stop-car {
  transform: translateX(1000px)
}

.car-options {
  margin-top: 15px;
}

.flag {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: end;
}

.flag img {
  width: 30px;
  height: 30px;
}

.car-wrapper {
  display: flex;
  width: 100%;
}

.car-icon {
  margin-bottom: -10px;
}

.not-clickable {
  opacity: 0.5;
  pointer-events: none;
}

.car-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}