:root {
  --dark: #030303;
  --dark-red: #710707;
  --gold: #9d8665; 
  --light: #ffffff;
  --font-xlarge: 80px;
  --font-large: 32px;
  --font-medium: 28px;
  --font-small: 22px;
  --font-xsmall: 18px;
  --duration-short: 300ms;
  --duration-long: 800ms;
  --player-controls: #B3B3B3;
  --player-controls-hover: #989898;
  --roboto: "Roboto", sans-serif;
  --forum: "Forum";
}
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--roboto);
  font-weight: 100;
  /* Изменение стиля интерактивных элементов при наведении и при клике */
  /* Параллакс
  background-attachment: fixed */
}

h1 {
  text-transform: uppercase;
  margin-left: 25px;
  font-family: 'Forum';
  font-weight: 400;
  font-size: var(--font-medium);
  letter-spacing: 5px;
}

h1, h2, h3 {
  font-weight: 100;
}

.block-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dark-section {
  background-color: var(--dark);
  color: var(--light);
}

.header-container {
  display: flex;
  flex-direction: row;
}
.spacer {
  flex-grow: 1;
}

.header-nav {
  display: flex;
}

.header-nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.header-nav li {
  padding: 0 15px;
}

.header-nav a {
  color: var(--light);
  text-decoration: none;
  font-size: var(--font-small);
}

#welcome {
  height: 810px;
}

#welcome > .block-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("./assets/img/welcome-background.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}

.welcome-title {
  text-transform: uppercase;
  font-family: var(--forum);
  font-weight: 400;
  font-size: var(--font-xlarge);
  letter-spacing: 5px;
  line-height: 90px;
}

.welcome-subtitle {
  font-family: var(--roboto);
  font-size: var(--font-medium);
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
  margin-bottom: 75px;

}

section {
  padding-left: 10px;
  padding-right: 10px;
}
.logo-icon{
  /* background-image: url("assets/svg/logo.svg"); */
}

.section-title {
  font-family: var(--forum);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.font-gold {
  color: var(--gold);
  font-family: Forum;
  font-size: var(--font-xlarge);
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.font-gold-picture-explore {
  color: var(--gold);
}

.visiting-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin-bottom: 64px;
}

@media (max-width: 1024px) {
  .visiting-cards-container {
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }
}

.visiting-cards-container a {
  text-decoration: none;
}


.visiting-card {
  display: flex;
  flex-direction: column;
  color: var(--dark);
}

.visiting-card img {
  width: 100%;
  height: auto;
}


.underline-title {
  position: relative;
}


.underline-title::after {
  content: "";
  position: absolute;
  /* bottom: -25px; */
  bottom: -28px;
  right: 0;
  left: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-title-small {
  position: relative;
}

.underline-title-small::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  bottom: -11px;
  left: 0;
  background-color: var(--dark-red);
}

.mb103 {
  margin-bottom: 103px;
}

.visiting-card-title {
  margin-top: 25px;
  margin-bottom: 21px;
  font-family: var(--forum);
  font-style: normal;
  font-size: var(--font-large);
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.visiting-card-subtitle-vt {
  margin-bottom: 11px;
  line-height: 26px;
}

.visiting-card-subtitle-gs {
  font-size: var(--font-xsmall);
  line-height: 21px;
  margin: 0;
}

.visiting-card:hover .underline-title-small::after, .visiting-card:focus .underline-title-small::after {
  width: 100%;
  transition-duration: var(--duration-long);
}

.welcome-btn {
  display: block;
  width: 360px;
  line-height: 75px;
  letter-spacing: 2px;
  text-align: center;
  background-color: var(--dark-red);
  border-radius: 10px;
  color: var(--light);
  text-decoration: none;
  left: 0px;
  top: 313px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}

.slider{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.explore-container {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}

.explore-description {
  flex-basis: 50%;
  max-width: 660px;
  max-height: 77px;
}

.explore-description h2 {
  left: 0px;
  top: 0px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-xlarge);
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 100;
  margin-top: 0;
}

.explore-description p {
  margin-bottom: 25px;
  font-size: var(--font-small);
  font-family: var(--Roboto);
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.explore-img {
  width: 50%;
  /* В процессе добавления адаптивности размеры изображения - ширину и высоту - укажем в процентах, а затем перестроим 
  блок, добавив контейнеру свойство flex-direction: column; благодаря которому заголовок и описание разместятся над 
  изображением. */
}

.video-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-description h2 {
  color: var(--gold);
  font-family: var(--forum);
  font-size: var(--font-xlarge);
}

.video-description p {
  width: 720px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 650px;
  background-image: url("./assets/img/video-poster.jpg");
  cursor: pointer;
}

.player-btn-play-big {
  width: 220px;
  height: 220px;
  cursor: pointer;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 85px;
  background-color: var(--dark);
}

.player {
  margin-bottom: 40px;
}

.control {
  display: flex;
  align-items: center;
  margin-left: 41px;
  cursor: pointer;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}

.control:last-child {
  margin-left: 48px;
  margin-right: 41px;
}

.control:hover, .control:focus, .player-btn-play-big:hover, .player-btn-play-big:focus {
  filter: invert(66%) sepia(0%) saturate(26%) hue-rotate(162deg) brightness(92%) contrast(92%);
  transition-duration: var(--duration-long);
}

.progress {
  height: 8px;
  margin-left: 41px;
  outline: none;
  transition: background 450ms ease-in;
  cursor: pointer;
  -webkit-appearance: none;
}

.progress-video {
  width: 820px;
  background: #710707;
}

.progress-volume {
  width: 155px;
  margin-left: 20px;
  background: linear-gradient(to right, #24809E 0%, #24809E 43%, #C4C4C4 43%, #C4C4C4 100%);
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: var(--light);
  cursor: ew-resize;
  -webkit-appearance: none;
}

.progress::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: var(--light);
  cursor: ew-resize;
  -webkit-appearance: none;
}

.video-slider {
  margin-top: 40px;
}

.video-slide {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.video-slide > iframe {
  width: 31%;
}

#video .block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container {
  overflow-y: hidden;
}

.gallery-inner-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gallery-inner-container img {
  width: 33%;
  
}


.youtube {
  background-image: url("../assets/svg/social-youtube.svg");
}

.instagram {
  background-image: url("../assets/svg/social-instagram.svg");
}

.facebook {
  background-image: url("../assets/svg/social-facebook.svg");
}

.twitter {
  background-image: url("../assets/svg/social-twitter.svg");
}

.pinterest {
  background-image: url("../assets/svg/social-pinterest.svg");
}