:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --text-color: #660032;
}

body {
  align-items: center;
  height: 100vh;
  position: relative;
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-montserrat);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background-color: none;
  padding: 0;
  width: 150px;
  height: 50px;
  font-family: var(--font-montserrat);
  background-color: var(--text-color);
  color: white;
  font-weight: bold;
  font-size: large;
}

button:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.logo {
  height: 20vh;
}


.pictures-quiz-container,
.settings-main-container {
  display: flex;
  justify-content: space-evenly;
}

.settings {
  display: flex;
  justify-content: center;
  height: 10vh;
}

footer ul{
  list-style: none;
  display: flex;
  justify-content: end;
  height: 20vh;
  align-items: flex-end;
  margin: 0;
}

li {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--text-color);
}

li a {
  text-decoration: none;
  color: var(--text-color);
}

li a:hover {
  opacity: 0.5;
}

.img-main {
  display: flex;
  cursor: pointer;
  opacity: 1;
}

.img-main:hover { 
  filter: drop-shadow(2px 4px 6px black);
}

.logo img:hover {
  filter: opacity(0.5);
}

.img-main img {
  width: 100%;
  height: auto;
}

.btn-container {
  padding: 5%;
  text-align: center;
}

ul {
  padding: 0;
}