<div class="quiz-card-container">
  <div class="quiz-header">
    <div class="title">

    </div>
    <div class="timer">
      <h2>00:59</h2>
    </div>
  </div>

  <div class="quiz-image">
    <img src="https://raw.githubusercontent.com/ylepner/image-data/master/img/0.jpg" alt="image">
  </div>

  <div class="answers">
    <ul class="answers-list">
      <li class="answer-option">first</li>
      <li class="answer-option">second</li>
      <li class="answer-option">third</li>
      <li class="answer-option">fourth</li>
    </ul>
  </div>

</div>