<div class="quiz-card-container">
  <div class="quiz-header">
    <h1 class="title">

    </h1>
    <div class="timer">
      <h2 class="timer-text">00:59</h2>
    </div>
  </div>

  <div class="quiz-image">
    <img alt="image">
  </div>

  <div class="answers">
    <ul class="answers-list">
    </ul>
  </div>
  <div class="btn-container">
    <button class="next-btn hidden">NEXT</button>
  </div>
  <div class="audio">
    <audio class="wrong-sound" src="./sounds/mixkit-correct-answer-tone-2870.wav"></audio>
    <audio class="done-sound" src="./sounds/mixkit-game-show-wrong-answer-buzz-950.wav"></audio>
  </div>

</div>
<div class="window-result-container">
  <div class="symbol-answer">❌</div>
  <img src="https://raw.githubusercontent.com/irinainina/image-data/master/img/123.jpg" alt="">
  <div class="picture-info">
    <div class="picture-title">БОГАТЫРИ</div>
    <div class="artist-title">ВИКТОР ВАСНЕЦОВ</div>
    <div class="year-of-picture">1898</div>
  </div>

</div>