.title {
  font-size: 45px;
  color: #453838;
}

h2 {
  text-align: right;
}

.answers,
.quiz-image {
  display: flex;
  justify-content: center;
}

.quiz-image img {
  max-width: 100%;
}

.answers-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  gap: 1px;
  flex-grow: 1;
  max-width: 700px;
}

.answers-list li {
  background-color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: var(--font-montserrat);
  font-weight: bold;
  color: #453838;
  cursor: pointer;  
}

.timer-text {
  color: #ce8c78;
}

.answers-list .correct-answer {
  background-color: #a7d2a7;
}

.answers-list .selected-answer:not(.correct-answer) {
  background-color: #e46e66
}

.next-btn.hidden{
  display: none;
}

.btn-container-next {
  padding: 10px;
}

.window-result-container {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: bold;
  color: #8a432c;
  line-height: 37px;
  background: white;
  border-radius: 2%;
  filter: drop-shadow(2px 4px 6px black);
  width: 90%;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.overlay:not(.visible) {
  display: none;
}
/* .overlay {
  display: flex;
} */



.picture-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-result-container img {
  max-width: 100%;
  border-radius: 2%;
  filter: drop-shadow(2px 4px 6px black);
  margin: 15px;
  max-height: 500px;
}

.symbol-answer {
  font-size: 40px;
  padding: 10px;
}

.mark {
  border: 1px solid black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

@media (max-height: 1000px) {
  h1 {
    font-size: 17px!important;
  }

  .quiz-image img {
    height: 280px!important;
  }

  li {
    font-size: 12px!important;
  }

  /* .window-result-container {
    margin-left: auto;
    margin-right: auto;
    width: 92%!important;
  } */

  .result-info-img {
    display: none;
  }

}
